<div class="main background-image">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Task Create Date</th>
                <th>Task End Date</th>
                <th>Priority</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Complete Date</th>
                <th>Is Complete</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of allTask" [class.is-deadline]="isDeadlineDate(task?.deadlineDate)">
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ getFormatedDate(task.date) }}</td>
                <td>{{ getFormatedDate(task.deadlineDate) }}</td>
                <td><span class="priority">{{ task.priority }}</span></td>
                <td>{{ getFormatedDate(task.createDate) }}</td>
                <td>{{ getFormatedDate(task.updateDate) }}</td>
                <td>{{ getFormatedDate(task.completeDate) }}</td>
                <td [class.is-complete]="!task?.completed">
                    <mat-progress-bar mode="determinate" value="100" color="error"></mat-progress-bar>
                </td>
                <td>
                    <button mat-fab (click)="edit(task?.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button mat-fab (click)="deleteTask(task?.id)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>