<div class="heading">
    <div><h1>
        Update Profile
    </h1></div>
    <div><mat-icon (click)="closeDialog()">close</mat-icon></div>
</div>

<div class="profile-update-div">
    <table style="table-layout:fixed;">
        <tr>
            <td><b>FirstName</b>:</td>
            <td><input type="text" [(ngModel)]="user.firstName" /></td>
        </tr>
        <tr>
            <td><b>LastName</b>:</td>
            <td><input type="text" [(ngModel)]="user.lastName"/></td>
        </tr>
       
        <tr>
            <td><b>Email</b>:</td>
            <td><input type="text" [(ngModel)]="user.email" disabled/></td>
        </tr>
       
    </table>
    
</div>
<div class="center-div">
    <button  class="submit-button" (click)="update()">Update</button>
</div>
