<div class="heading">
    <div><h1>
       Select User
    </h1></div>
    <div><mat-icon (click)="close()">close</mat-icon></div>
</div>

<div class="profile-update-div">
    <table style="table-layout:fixed;">
        <tr>
            <td>Select User:</td>
            <td>
                <select [(ngModel)]="userId">
                    <option *ngFor="let u of users" [value]="u.id">{{u.firstName}} {{u.lastName}}</option>
                </select>
            </td>
        </tr>
       
    </table>
    
</div>
<div class="center-div">
    <button  class="submit-button" (click)="addToTask()">Update</button>
</div>
